$default-font: Arial,"Segoe UI", sans-serif;
$headline:#2A3B67;
$text: #616F94;
$text-active:#66B2FF;

$dialog:#2A3B67;
$accessible:#5FB456;
$active:#448ED9;
$warning:#FFC526;
$danger:#FF5D47;
$icons:#C2C2C3;
$bg: #f7f7f7;
$bg2:#f4f4f4;
$bg-alert: #FF696B;
$border: #d7d7d7;

//px -> em
$body-font-size: 16; // body font-size
@function em($pixels, $context: $body-font-size) {
  @return #{$pixels/$context}em;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
