.btn {
	display: inline-block;
	border: none;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	outline-color: transparent;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transition: background-color .3s, color .3s, border-color .3s, opacity .3s;
	cursor: pointer;
	user-select: none;
	font-family: inherit;
	& > * {
		pointer-events: none;
	}
	& > .hidden-xs {
		margin-left: .3em;
	}
	&--underline {
		background-color: transparent;
		color: $text;
		display: inline-block;
		font-size: .875em;
		font-weight: 700;
		font-style: normal;
		padding: 2px 0;
		border-bottom: 1px solid currentColor;
		position: relative;
		&:hover {
			color: $headline;
		}
	}
	&--sm {
		width: 32px;
		height: 32px;
		padding: 4px;
		background-color: transparent;
		flex-shrink: 0;
		z-index: 1;
		& svg {
			max-width: 100%;
		}
	}
	&--lg {
		font-size: 1em;
		letter-spacing: .03em;
		padding: 12px 15px 11px;
		min-width: 148px;
		border-radius: 3px;
		font-weight: normal;
		line-height: 1.19;
		@media (max-width: 640px){
			min-width: 132px;
			padding: 12px 12px 10px;
		}
		@media (max-width: 380px){
			padding: 10px 12px 9px;
			min-width: 112px;
		}
		@media (max-width: 360px){
			padding: 10px 10px 9px;
		}
	}
	&--icon {
		min-width: 190px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 380px){
			min-width: 148px;
		}
		@media (max-width: 360px){
			min-width: 118px;
		}
	}
	&--simply {
		border: 1px solid $border;
		background-color: #fff;
		color: $headline;
		&:hover {
			background-color:  darken(#fff, 4%);
			border-color:  darken($border, 10%);
		}
	}
	&--success{
		color: #fff;
		border: 1px solid $accessible;
		background-color: $accessible;
		font-weight: bold;
		&:hover {
			background-color:  darken($accessible, 6%);
			border-color:  darken($accessible, 12%);
		}
	}
	&--secondary{
		color: $headline;
		background-color: $bg2;
		border: 1px solid $bg2;
		&:hover {
			background-color:  darken($bg2, 6%);
			border-color:  darken($bg2, 10%);
		}
	}
	&--danger{
		color: #fff;
		background-color: $danger;
		border: 1px solid $danger;
		&:hover {
			background-color: darken($danger, 6%);
			border-color: darken($danger, 10%);
		}
	}
	&--glass {
		border: 1px solid currentColor;
		color: #fff;
		background-color: transparent;
		padding: 11px 18px 10px;
		@media (min-width: 991px){
			padding: 12px 29px 11px;
		}
		&:hover{
			opacity: 0.7;
		}
	}
	&--outlined {
		border: 1px solid $border;
		background-color: transparent;
		color: $headline;
		-webkit-tap-highlight-color: rgba(0,0,0,.02);
		&.btn--icon{
			padding-right: 24px;
			padding-left: 19px;
			@media (max-width: 380px){
				padding-right: 21px;
				padding-left: 13px;
			}
		}
		&:hover {
			background-color: $bg2;
		}
		& > svg{
			pointer-events: none;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-top: -4px;
			margin-bottom: -4px;
			&:first-child {
				margin-right: .9em;
			}
			@media (max-width: 380px){
				width: 17px;
				height: 17px;
			}
		}
	}
	&:disabled,&--disabled,&--disabled:hover {
		color: #fff;
		background-color: $bg-muted;
		border-color: $bg-muted;
		cursor: not-allowed;
	}
}
.btn--close {
	position: absolute;
	right: calc(1vw + 7px);
	top: calc(50% - 20px);
	width: 40px;
	height: 40px;
	color: $icons;
	background-color: transparent;
	padding: 7px;
	z-index: 2;
	&:hover {color: darken($icons, 18%);}
	&>svg{pointer-events: none;}
	@media (max-width: 1030px){
		top: 25px;
	}
	@media (max-width: 500px){
		width: 36px;
		height: 36px;
		top: 15px;
	}
	@media (max-width: 380px){
		width: 32px;
		height: 32px;
		top: 4px;
		right: 4px;
	}
}
.i-plus {
	display: inline-block;
	width: 21px;
	height: 21px;
	transform: rotate(45deg);
	margin-right: 17px;
	margin-top: -5px;
	margin-bottom: -5px;
	@media (max-width: 420px){
		width: 15px;
		height: 15px;
		margin: -6px 11px -5px -4px;
	}
	@media (max-width: 380px){
		margin: -6px 8px -5px 0;
		width: 13px;
		height: 13px;
	}
}
.help {
	color: $text;
	display: inline-block;
	font-size: em(14);
	font-weight: bold;
	font-style: normal;
	padding: 2px 0;
	border-bottom: 1px solid currentColor;
	position: relative;
	cursor: help;
	&:focus {
		cursor: help;
	}
	&:before {
		content: attr(data-help);
		position: absolute;
		display: block;
		padding: 14px;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.5;
		top: calc(100% + 15px);
		right: 0;
		min-width: 220px;
		max-width: 242px;
		color: #fff;
		background-color: $dialog;
		border-radius: 3px;
		pointer-events: none;
		opacity: 0;
		z-index: 11;
		@media (max-width: 500px){
			font-size: 12px;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: calc(100% + 10px);
		right: 33px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #2a3b67;
		pointer-events: none;
		opacity: 0;
	}
	&--icon {
		padding: 0;
		border: none;
		vertical-align: baseline;
		width: 20px;
		height: 20px;
		padding: 1px;
		margin: -4px 0 -4px 2px;
		top: 3px;
		@media (max-width: 359px){
			margin-left: 1px;
		}
		&:before {
			top: auto;
			bottom: calc(100% + 5px);
			right: -20px;
			text-align: left;
			@media (max-width: 360px){
				width: 190px;
				max-width: 190px;
			}
		}
		&:after {
			transform: rotate(180deg);
			top: auto;
			bottom: 100%;
			right: 5px;
		}
	}
	&:hover {
		color: $headline;
		&:before,&:after {
			opacity: 1;
			transition: .4s;
		}
	}
}
.h3 > .help--icon:before {
	font-size: 13px;
	min-width: 170px;
	text-align: center;
	padding: 12px;
}
.i-question {
	display: inline-block;
	width: 100%;
}
.btn--lg .i-arrow {
   width: 24px;
   height: 24px;
   margin: -4px 0 -4px 10px;
   @media (max-width: 380px){
      width: 17px;
      height: 17px;
      margin: -4px 0 -4px 7px;
   }
   @media (max-width: 359px){
      width: 15px;
      height: 15px;
      margin: -3px 0 -4px 3px;
   }
}
.btn--lg .i-reverse-arrow {
	width: 24px;
   height: 24px;
   margin: -4px 10px -4px 0;
	transform: rotate(180deg);
	@media (max-width: 380px){
      width: 17px;
      height: 17px;
      margin: -4px 7px -4px 0;
   }
   @media (max-width: 360px){
      width: 15px;
      height: 15px;
      margin: -3px 3px -4px 0;
   }
}
.btn-box {
	display: flex;
	flex-direction: column;
	padding: 5px;
	.btn+.btn {
		margin-top: 13px;
		@media (max-width: 500px){
			margin-top: 10px;
		}
	}
}