.addons {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 20px;
	width: 100%;
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 38px;
	@media (max-width: 1025px) {
		margin-bottom: 29px;
		grid-gap: 18px;
	}
	@media (max-width: 500px) {
		margin-bottom: 24px;
		grid-gap: 14px;
		grid-template-columns: repeat(auto-fill, minmax(164px, 1fr))
	}
   &__card {
      padding: 23px 17px 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
		cursor: pointer;
		img {
			display: block;
			margin: 0 auto .8em;
			max-width: 75px;
			pointer-events: none;
		}
      @media (max-width: 991px){
			img {
				max-width: 66px;
			}
      }
      @media (max-width: 500px){
         padding: 16px 12px 8px;
			img {
				max-width: 48px;
			}
      }
   }
   &__header {
      display: flex;
      align-items: center;
      padding-bottom: 1.6em;
      font-size: em(14);
      .color-alert {font-weight: bold;}
   }
   &__category {
      padding-right: 1em;
      padding: .3em .8em;
      margin-right: auto;
   }
   .i-addons {
      width: 24px;
      height: 24px;
      margin-bottom: 2px;
   }
   &__text {
      text-align: center;
      max-width: 314px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 5px;
      flex-grow: .3;
      display: flex;
      flex-direction: column;
      justify-content: center;
		pointer-events: none;
		a,i{
			pointer-events: auto;
		}
      .h3 {
         padding-bottom: .64em;
         line-height: 1.16;
      }
      p {
         font-size: em(14);
         line-height: 1.38;
			color: $text;
      }
   }
   .addons__cta {
      margin-top: auto;
      justify-content: center;
   }
}
.order {
   &__roll {
      border: 1px solid $border;
      padding: 26px 24px 0;
      &-header {
         padding-bottom: 1.9em;
         .h5 {
         	text-shadow: none;
         	font-weight: normal;
         	color: $headline;
         	padding-bottom: .5em;
         }
         p {
         	font-size: em(14);
         	color: $text;
         	line-height: 1.6;
         }
      }
      .privacy__item {
         border-bottom: none;
         border-top: 1px solid $border;
         padding-left: 0;
         padding-right: 0;
      }
      & + .v-center {
         padding: 23px 0;
         font-size: em(14);
      }
   }
   &__card {
      border: 1px solid $border;
      padding: 25px 24px 26px;
      display: flex;
      margin-bottom: 20px;
      &--inline {
      	@media (min-width: 359px) {
            align-items: center;
            .order__text .h5 {padding-bottom: 0;}
            .order__cta {
               display: flex;
               align-items: center;
               .card__price {
               	margin-bottom: .2em;
                  margin-right: 1.4em;
               }
            }
         }
      }
      @media (max-width: 380px){
         margin-bottom: 14px;
      }
      @media (max-width: 360px){
         flex-wrap: wrap;
         padding: 17px 18px 19px;
      }
   }
   &__text {
      max-width: 310px;
      margin-right: auto;
      padding-right: 8px;
      @media (max-width: 360px) {
         width: 100%;
         max-width: 100%;
         padding-right: 0;
         padding-bottom: .6em;
      }
      .help:before {
         min-width: 214px;
         max-width: 220px;
         right: auto;
         left: -20px;
      }
      @media (max-width: 500px){
         .help--icon {padding: 3px;}
      }
      .h5 {
         text-shadow: none;
         font-weight: normal;
         color: $headline;
         padding-bottom: .5em;
      }
      p{
         font-size: em(14);
         color: $text;
         line-height: 1.6;
      }
      p +.check-list {
         padding-top: .5em;
      }
      .check-list li {
         font-size: em(14);
         color: $text;
      	padding: 0 0 .6em .5em;
         &:last-child {padding-bottom: 0;}
         @media (max-width: 500px){
            font-size: .92em;
         }
         @media (max-width: 359px){
            padding: 0 0 .5em .2em;
         }
      }
   }
   &__cta {
      padding: 0 3px;
      align-self: flex-end;
      .card__price {
         text-align: left;
         max-width: 148px;
         b {font-size: 1.8em;}
      }
      @media (max-width: 359px) {
         padding: 0;
         .card__price {
            max-width: 100%;
         }
         .btn--lg {
         	min-width: 138px;
         }
      }
   }
}
.text {
   &__card {
      padding: 34px 22px 12px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media (min-width: 991px) {
      	min-height: 244px;
      }
      @media (max-width: 380px) {
      	padding: 18px 12px 8px;
      }
      .addons__cta {
         margin-top: auto;
         justify-content: center;
      }
   }
   &__card-remark {
      position: relative;
      padding-bottom: 1.4em;
      .cart__ribbon {
         position: static;
         display: inline-block;
         padding: 5px 17px;
      }
   }
   &__descr {
      text-align: center;
      color: $text;
      .h3 {
         font-size: em(19);
         padding-bottom: 1em;
      }
      p {
         font-size: em(14);
         line-height: 1.5;
      }
      .card__list {
         padding-top: 1.8em;
         text-align: left;
         font-size: em(15);
         color: $headline;
         @media (max-width: 500px){
            max-width: 290px;
         }
      }
   }
}
.sked {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: .9em;
   font-size: em(14);
   &__link {
      text-decoration: underline;
      color: $headline;
      padding-right: .6em;
      &:hover {color: $active;}
   }
   span {color: $text;}
   @media (max-width: 380px){
      gap: .5em;
      &__link {
         max-width: 150px;
      }
   }
}