.board{
   background-color: $bg;
   min-height: calc(100vh - 294px);
   padding: 40px 15px;
   @media (max-width: 1025px){
      padding: 25px 15px;
   }
   @media (max-width: 600px){
      padding: 20px 14px 10px;
      min-height: calc(100vh - 232px);
   }
   @media (max-width: 360px){
      padding: 14px 14px 10px;
   }
}
.sort__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 23px;
   user-select: none;
}
.sort__action {
   display: flex;
   align-items: center;
}
.sort__older {
   position: relative;
   margin-left: auto;
}
.sort__grid {
   margin-left: calc(2vw + 10px);
   @media (max-width: 950px){
      display: none;
   }
   .btn {
      width: 32px;
      height: 30px;
      padding: 6px;
      background-color: transparent;
      margin-left: 4px;
      color: $icons;
      &.active{
         color: $active;
      }
      svg {
         color: currentColor;
         pointer-events: none;
      }
   }
}
.sort__item {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   border-top: 1px solid $border;
   padding: 21px 0;
}
.sort__info {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding: 0 20px;
   flex-grow: .4;
}
.sort__name {
   color: $headline;
   font-weight: bold;
   font-size: em(20);
   line-height: 1.1;
   margin-bottom: 0.2em;
}
.sort__descr {
   font-size: em(14);
}
.sort__buttons {
   .btn + .btn {
      margin-left: calc(1vw + 1.3em);
   }
}
.status {
   display: flex;
   align-items: center;
   font-size: em(14);
   flex-shrink: .1;
   flex-grow: .2;
}
[data-status]:before {
   content: '';
   display: inline-block;
   width: 17px;
   height: 17px;
   flex-shrink: 0;
   border-radius: 50%;
   margin-right: calc(.24vw + 8px);
   transition: .2s;
   @media (max-width: 500px){
      width: 14px;
      height: 14px;
   }
}
[data-status="active"]:before{background-color: $active;}
[data-status="warning"]:before{background-color: $warning;}
[data-status="danger"]:before{background-color: $danger;}
[data-status="success"]:before{background-color: $accessible;}


.board--lg {
   display: block;
   width: 100%;
   max-width: 1120px;
   margin: 0 auto 40px;
   background-color: #fff;
   box-shadow: -1px 1px 10px rgba(30,23,104,.04);
   border-radius: 3px;
   padding: 24px 24px 3px;
   .status {width: 128px;}
   @media (max-width: 950px){
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      .sort__title {
         background-color: #fff;
         box-shadow: -1px 1px 10px rgba(30, 23, 104, 0.04);
         padding: 18px 20px;
         border-radius: 3px;
         margin-bottom: 20px;
      }
      .sort__box {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
         grid-gap: 20px;
      }
      .sort__item {
         min-width: 300px;
         background-color: #fff;
         box-shadow: -1px 1px 10px rgba(30, 23, 104, 0.04);
         border-radius: 3px;
         border: none;
         padding: 20px;
         @media (max-width: 359px){
            min-width: 100%;
         }
      }
      .status {
         order: -1;
         margin-left: auto;
         width: auto;
         text-align: right;
         flex-grow: initial;
      }
      .checkbox-custom {order: -2;}

      .sort__info {
         min-width: 100%;
         text-align: center;
         padding: 15px 5px;
         margin-bottom: 20px;
         border-bottom: 1px solid $border;
      }
      .sort__buttons {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         width: 100%;
         .btn {
            flex-grow: .9;
            min-width: 120px;
            max-width: calc(50% - 10px);
         }
         .btn+.btn {margin-left: 20px;}
         .btn.btn--success {
            order: -1;
            width: 100%;
            max-width: 100%;
            margin: 0 0 20px;
         }
      }
   }
   @media (max-width: 1025px){
      margin-bottom: 25px;
   }
   @media (max-width: 500px){
      margin-bottom: 15px;
      .sort__item {padding: 15px;}
      .sort__buttons{
         .btn {
            max-width: calc(50% - 8px);
         }
         .btn+.btn {margin-left: 11px;}
         .btn.btn--success {
            margin: 0 0 14px;
         }
      }
   }
}
.board--grid {
   background-color: transparent;
   box-shadow: none;
   padding: 0;
   .sort__title {
      background-color: #fff;
      box-shadow: -1px 1px 10px rgba(30, 23, 104, 0.04);
      padding: 24px;
      border-radius: 3px;
      margin-bottom: 35px;
      @media (max-width: 600px){
         padding: 18px 20px;
         margin-bottom: 20px;
      }
   }
   .sort__box {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 20px;
   }
   .sort__item {
      min-width: 300px;
      background-color: #fff;
      box-shadow: -1px 1px 10px rgba(30, 23, 104, 0.04);
      border-radius: 3px;
      border: none;
      padding: 20px;
   }
   .status {
      order: -1;
      margin-left: auto;
      width: auto;
      text-align: right;
      flex-grow: initial;
   }
   .checkbox-custom {order: -2;}

   .sort__info {
      min-width: 100%;
      text-align: center;
      padding: 15px 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid $border;
   }
   .sort__buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      .btn {
         flex-grow: .9;
         min-width: 120px;
         max-width: calc(50% - 10px);
      }
      .btn+.btn {margin-left: 20px;}
      .btn.btn--success {
         order: -1;
         width: 100%;
         max-width: 100%;
         margin: 0 0 20px;
         @media (max-width: 500px){
            margin: 0 0 14px;
         }
      }
   }
}

.board--lg .sort__box {
   @media (max-width: 380px){
      grid-gap: 15px;
   }
}
.board--lg .sort__title {
   @media (max-width: 600px){
      padding: 12px 15px;
      margin-bottom: 15px;
   }
}
.message__title {
	font-size: 1.5em;
	padding-bottom: .56em;
	position: relative;
   color: $headline;
	&::before{
		position: absolute;
		content: '\2013';
		left: -1.1em;
		top: -2px;
	}
   @media (min-width: 1100px) and (min-height: 700px){
      font-size: em(26);
   }
	@media (max-width: 500px){
		font-size: 1.4em;
	}
	@media (max-width: 380px){
		font-size: 1.3em;
      padding-bottom: .4em;
	}
	@media (max-width: 360px){
		font-size: 1.2em;
	}
   &--indented {
      margin-left: 1.1em;
      margin-bottom: .5em;
      @media (max-width: 500px){
         margin-bottom: .2em;
      }
   }
}
.message__descr--huge {
   .message__title:before {content: none;}
}
.message__descr {
	padding-right: 30px;
	max-width: 656px;
	@media (max-width: 600px){padding-right: 0;}
	& > p +.btn {
		margin-top: 2em;
		@media (max-width: 600px){
			margin-top: 1.5em;
		}
	}
}
.board__message--sm .message__descr,.board__message--md .message__descr,.board__message--compressed .message__descr{
   @media (max-width: 1200px){
      background-color: rgba(255,255,255,.3);
      backdrop-filter: blur(1px);
      border-radius: 8%;
      background-clip: content-box;
   }
}
.message__precept,.card__list,.check-list {
   list-style-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.08569 6.51279L4.73341 10.3714L4.69974 10.3358L12.9143 1.62854' stroke='%23448ED9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	list-style-position: unset;
}
.message__precept {
	padding-left: 22px;
	padding-top: .7em;
   @media (max-width: 991px){
      padding-top: 1em;
      font-size: .966em;
   }
	li {
		padding-left: 10px;
		padding-bottom: 1.3em;
		line-height: 1.5;
	}
   @media (max-width: 360px){
      padding-left: 15px;
   }
}
.board__message--compressed {
   .message__precept {
      padding-top: .2em;
      padding-bottom: .4em;
      li {padding-bottom: .1em;}
   }
}
.board__message {
	position: relative;
	background-color: #fff;
	box-shadow: -1px 1px 10px rgba(30, 23, 104, .04);
	border-radius: 3px;
	display: block;
	width: 100%;
	max-width: 1120px;
	padding: 31px 61px;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 900px){
      padding: 29px 52px;
   }
	@media (max-width: 380px){
		padding: 28px 37px;
	}
	&:not(:last-child) {
		margin-bottom: 40px;
		@media (max-width: 1025px){
         margin-bottom: 25px;
      }
      @media (max-width: 500px){
         margin-bottom: 20px;
			padding: 26px 37px;
      }
      @media (max-width: 360px){
         margin-bottom: 14px;
      }
	}
	p {line-height: 1.5;}
	&--sm {
		background-image: var(--bg1x);
		background-repeat: no-repeat;
		background-position: 83% 33%;
		background-size: auto 182%;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: var(--bg2x);
		}
		@media (max-width: 1025px){
			background-position: 99% -240%;
			background-size: auto 117%;
		}
		@media (max-width: 600px){
			background-position: 121% calc(50% + 49px);
			background-size: auto 97%;
		}
		@media (max-width: 380px){
			background-size: auto 70%;
		}
		.message__descr p {
			text-shadow: 1px 1px 3px #fff;
		}
	}
	&--md {
		background-image: var(--bg1x);
		background-repeat: no-repeat;
		background-position: 97% 50%;
		background-size: auto 150%;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: var(--bg2x);
		}
		@media (max-width: 1025px){
			background-position: 99% -65%;
			background-size: auto 117%;
		}
		@media (max-width: 600px){
			background-position: 121% calc(50% + 49px);
			background-size: auto 74%;
		}
		@media (max-width: 380px){
			background-size: auto 46%;
			background-position: 104% bottom;
		}
		.message__descr p {
         text-shadow: 1px 1px 2px #fff, -1px 1px 2px #fff, -1px -1px 4px #fff, 0 -1px 3px #fff, -1px 1px 8px #fff, 1px 1px 18px #fff, -1px -1px 20px #fff;
		}
	}
	&--alert {
		background-color: $bg-alert;
		color: #fff;
      & h1,& h2,& h3,& p {
         color: inherit;
      }
		.btn--close {
			color: #fff;
			&:hover {color: rgba(#fff, .6);}
		}
	}
	&--side {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn--lg {
			color: currentColor;
			border: 1px solid currentColor;
			flex-grow: 1;
			max-width: 190px;
			margin-right: calc(2.6vw + 29px);
			margin-left: 30px;
			&:hover {opacity: 0.7;}
		}
		.i-arrow {
			max-width: 22px;
			margin: -4px 0 -4px 14px;
			@media (max-width: 380px){
				max-width: 17px;
			}
		}
		@media (max-width: 1030px){
			flex-direction: column;
			align-items: start;
			.btn--lg {
				margin: 20px 0 0 0;
			}
		}
	}
	&--lg {
		padding: 6.5em 110px;
		@media (min-width: 767px){
			display: flex;
			align-items: center;
		}
		.message__picture {
			@media (min-width: 767px){
				order: 2;
			}
         @media (max-width: 766px){
            max-width: 400px;
            margin: auto;
         }
		}
		.message__descr {
			max-width: 444px;
			flex-grow: 1.1;
			min-width: 49%;
         &--huge {
            min-width: 45%;
            z-index: 1;
            margin-right: -15px;
            @media (min-width: 991px){
               margin-right: -40px;
               p {margin-right: -70px;}
            }
            @media (max-width: 359px){
               .btn--lg {min-width: 111px;}
            }
         }
			@media (max-width: 800px){
				min-width: 51%;
				padding-top: 9px;
			}
         @media (max-width: 750px){
            max-width: none;
            padding-right: 0;
         }
		}
		@media (max-width: 1025px){
			padding: 50px;
		}
		@media (max-width: 380px){
			padding: 32px;
		}
	}
   &--xl {
      @media (min-width: 1360px){
         padding: 3.9em 19px 3.9em 98px
      }
   }
   &--xs {
      display: flex;
      justify-content: space-between;
      padding: 25px 24px;
      background-image: var(--bg1x);
		background-repeat: no-repeat;
		background-position: 75% 44%;
		background-size: auto 206%;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
         background-image: var(--bg2x);
      }
      @media (max-width: 1025px){
         background-position: 66% 44%;
         background-size: auto 152%;
      }
      @media (max-width: 500px){
         padding: 20px;
      }
      @media (max-width: 380px){
         padding: 14px;
      }
      .btn--icon {
         min-width: auto;
         color: $headline;
         font-weight: bold;
         &:hover {
            color: $active;
         }
         .i-plus {
            width: 20px;
            height: 20px;
            margin-right: 12px;
            @media (max-width: 380px){
               width: 17px;
               height: 17px;
               margin-right: 10px;
            }
         }
      }
   }
   &--clear{
      &:not(:last-child) {
         margin-bottom: 20px;
         .btn--icon {
            color: $headline;
            &:hover {
               color: $active;
            }
         }
         @media (min-width: 768px){
            display: flex;
            align-items: center;
            .btn--icon {
               margin-left: auto;
               padding-right: 0;
               text-align: right;
            }
         }
         @media (max-width: 767px){
            .btn--icon {
               padding-left: 0;
               text-align: left;
               justify-content: flex-start;
            }
         }
         @media (max-width: 500px){
            margin-bottom: 14px;
         }
      }
      .message__descr {
         max-width: 700px;
      }
      .message__title {
         line-height: 1.3;
         padding-bottom: 0;
         & + p {
            padding-top: .6em;
         }
      }
   }
   &--compressed {
      background-image: var(--bg1x);
      background-repeat: no-repeat;
      background-position: 112% 50%;
      background-size: auto 110%;
      @media (min-width: 1400px){
         padding: 38px 61px;
      }
      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
      	background-image: var(--bg2x);
      }
      @media (max-width: 1025px) {
      	background-size: auto 90%;
         .message__descr p {
         	text-shadow: 1px 1px 2px #fff, -1px 1px 2px #fff, -1px -1px 4px #fff, 0 -1px 3px #fff, -1px 1px 8px #fff, 1px 1px 18px #fff, -1px -1px 20px #fff;
         }
      }
      @media (max-width: 991px) {
      	background-size: auto 74%;
         background-position: 117% 162%;
      }
      @media (max-width: 500px){
         background-size: auto 62%;
         background-position: 146% 162%;
      }
      @media (max-width: 380px){
         background-image: none;
      }
   }
}
.huge__title {
   font-size: calc(1.2vw + 5.7em);
   color: $headline;
   display: inline-block;
   position: relative;
   padding-bottom: .2em;
   margin-bottom: .3em;
   line-height: 1;
   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -.43em;
      left: -.43em;
      border-bottom: 1px solid $border;
   }
   @media (max-width: 991px){
      &:after{
         right: -.24em;
         left: -.24em;
      }
   }
   @media (max-width: 766px){
      margin-left: .13em;
      font-size: calc(1.1vw + 4.9em);
      padding-bottom: .14em;
      margin-bottom: .27em;
      &:after{
         right: -.2em;
         left: -.2em;
      }
   }
   @media (max-width: 380px){
      margin-left: .04em;
   }
}
.link--underline {
   display: inline-block;
   padding: 2px 0;
   color: $text;
   font-weight: bold;
   font-size: em(14);
   letter-spacing: .03em;
   border-bottom: 1px solid currentColor;
   &:hover {color: $active;}
   @media (max-width: 380px){padding: 0;}
}
.argum__box {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
   grid-gap: 20px;
   width: 100%;
   max-width: 1120px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
   @media (max-width: 1025px){
      margin-bottom: 25px;
   }
   @media (max-width: 500px){
      margin-bottom: 20px;
      grid-gap: 14px;
      grid-template-columns: repeat(auto-fill, minmax(284px, 1fr))
   }
}
.argum {
   &__item  {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 29px 20px 26px 8px;
      overflow: hidden;
      @media (max-width: 500px){
         padding: 16px 19px 13px 0;
      }
      img {
         max-width: 122px;
         flex-shrink: 0;
         object-fit: contain;
         @media (max-width: 380px){
            max-width: 100px;
         }
      }
   }
   &__text {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      @media (min-width: 991px){
         padding-left: 10px;
      }
      h2,h3,h4,h5,h6 {
         font-weight: normal;
         padding-bottom: .8em;
         font-size: 1em;
         text-shadow: 0 0;
         color: $headline;
         @media (max-width: 500px){
            font-size: 1.1em;
         }
      }
      p {
         font-size: em(14);
         line-height: 1.7;
         &:not(:last-child) {
            @media (min-width: 361px){
               margin-bottom: 4px;
            }
         }
      }
      h4 + p:last-child {margin: auto 0;}
      .btn {
         color: $text;
         margin-top: auto;
         [class|=i] {
            margin-left: 16px;
         }
         &:hover{
            color: $text-active;
         }
      }
   }
}
.plan__controls {
   padding: 25px 20px 13px;
   &--narrow {
      padding-bottom: 0;
   }
   .message__title {
      padding-bottom: 0.3em;
      margin-left: 32px;
   }
   @media (max-width: 500px){
      padding: 17px 14px 7px;
      .message__title{
         margin-left: 23px;
      }
   }
   &--nogap {
      padding-bottom: 0;
      .plan__tabs{
         padding-bottom: .9em;
      }
      .plan__search {
         padding-top: 1.2em;
         padding-bottom: 5px;
         @media (max-width: 500px){
            padding-top: .8em;
         }
      }
   }
}
.plan__controls ~ .plan__tabs {
   margin-top: -8px;
}
.plan__controls--narrow ~ .plan__tabs {
   padding-top: 0;
   margin-top: -10px;
   @media (max-width: 500px){
      margin-bottom: -20px;
   }
}
.plan__tabs {
   padding-top: 5px;
   @media (max-width: 500px){
      padding-top: 2px;
      padding-bottom: 14px;
   }
   @media (max-width: 380px){
      .selector{
         vertical-align: middle;
         max-width: 49%;
      }
   }
   @media (max-width: 360px){
      padding-top: 0;
      padding-bottom: 11px;
   }
}
.plan__search {
   padding-top: 14px;
   padding-bottom: 20px;
   .search__form {
      background-color: $bg2;
      border-radius: 3px;
      margin-bottom: 0;
   }
   @media (max-width: 500px){
      padding-top: 17px;
   }
   @media (max-width: 360px){
      padding-top: 12px;
   }
}