.enterprise {
   &__box {
      padding: 33px 61px;
      @media (max-width: 900px) {
      	padding: 29px 52px;
      }
      @media (max-width: 500px) {
      	padding: 28px 37px;
      }
      @media (max-width: 359px) {
      	padding: 19px 28px;
      }
      p {
         line-height: 1.5;
      }
   }
   &__form {
      padding-top: 2em;
      .textarea {
      	height: calc(7vh + 75px);
      }
   }
   &__cta {
      @media (min-width: 600px) {
         display: flex;
         align-items: flex-end;
         justify-content: flex-end;
         .catpcha {
            margin-right: 27px;
         }
      }
      button {margin-top: 14px;}
   }
}
.form-dual-lg {
   @media (min-width: 600px){
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
         width: calc(50% - 11px);
      }
   }
   .select {margin-bottom: 0;}
}
.form--narrow {
   padding: 2em 1.5em 2.4em;
   .message__title {
      margin-left: 1.2em;
   }
   @media (max-width: 380px){
      padding: 1.5em 1em 1.8em;
   }
}
.form__header {
   padding-bottom: 4em;
   @media (max-width: 991px){
      padding-bottom: 2.5em;
   }
   @media (max-width: 500px){
      padding-bottom: 2em;
   }
   .i-shield {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      align-self: flex-start;
      color: $danger;
      @media (max-width: 500px){
         width: 20px;
         height: 20px;
      }
   }
}
.form__body {
   max-width: 550px;
   margin-left: auto;
   margin-right: auto;
}
.mini-remark {
   font-size: em(14);
   margin-left: 18px;
   user-select: none;
   cursor: pointer;
   @media (max-width: 500px){
      margin-left: 14px;
   }
}
.form__footer {
   display: flex;
   justify-content: center;
   gap: 2em;
   padding-top: 1.8em;
   @media (max-width: 380px){
      gap: 1.1em;
   }
}
.corresp {
   padding: 1.9em 1.5em 4em;
   @media (max-width: 600px){
      padding: 1.7em 1.2em .9em;
   }
   &__item {
      padding: 2.1em .1em 1.4em;
      &+& {
         border-top: 1px solid $border;
      }
   }
   &__user {
      display: flex;
      align-items: center;
      gap: 1.1em;
      padding-bottom: 1.8em;
      &-ava {
         max-width: 38px;
      }
   }
   &__name {
      padding-bottom: .2em;
      display: flex;
      align-items: center;
      gap: .3em;
      color: $headline;
   }
   &__date {
      font-size: em(14);
   }
   &__text {
      font-size: em(15);
      color: $headline;
      p {padding-bottom: .8em;}
   }
}