select::-ms-expand {display: none;}
select:focus {
	outline: 0;
	box-shadow: none;
}
select[name=footer__curency] {
	display: block;
	width: 100%;
	min-width: 90px;
	height: 35px;
	border-radius: 3px;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $headline;
	background-repeat: no-repeat;
	background-position: 86% 52%;
	font-size: 1em;
	padding: 0 20px;
	border: 1px solid $border;
	@media (max-width: 380px){
		height: 33px;
	}
}
.select,select[name=footer__curency] {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='2 2 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%23616F94' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
select[name=footer__curency] > option {
	color: $headline;
	background-color: $bg;
	border: none;
}
.select {
	display: block;
	height: 54px;
	width: 100%;
	padding: 14px 24px;
	font-size: 1em;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $headline;
	border: 1px solid $border;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) 52%;
	margin-bottom: 14px;
	@media (max-width: 380px){
		height: 44px;
		padding: 10px 16px;
		background-position: calc(100% - 11px) 52%;
	}
}
.textarea {
	display: block;
	width: 100%;
	height: calc(7vh + 275px);
	padding: 17px 24px;
	font-family: inherit;
	font-size: 1em;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $headline;
	border: 1px solid $border;
	border-radius: 3px;
	resize: none;
	outline: 0;
	margin-bottom: 14px;
	&::-webkit-input-placeholder {
		color: $icons;
	}
	@media (max-width: 1367px){
		height: calc(14vh + 120px);
	}
	@media (max-width: 380px){
		height: calc(8vh + 150px);
		padding: 10px 16px;
	}
}
input:not([type=radio]):not([type=checkbox]) {
	font-family: Arial, sans-serif;
	background-color: transparent;
	-webkit-appearance: none;
	appearance: none;
	color: inherit;
	letter-spacing: .02em;
	outline: 0;
}
[type=file] {
	appearance: none;
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}
.file__area {
	display: inline-flex;
	align-items: center;
	border: 1px solid $border;
	border-radius: 3px;
	padding: 12px 22px 11px 20px;
	color: $headline;
	user-select: none;
	cursor: pointer;
	min-width: 134px;
	max-width: 200px;
	transition: .3s;
	-webkit-tap-highlight-color: rgba(0,0,0,.02);
	&:hover {
		background-color: $bg2;
	}
	@media (max-width: 380px){
		padding: 11px 21px 10px 18px;
	}
	[class|=i] {
		display: inline-block;
		flex-shrink: 0;
		color: $headline;
		width: 23px;
		height: 23px;
		margin-top: -2px;
		margin-bottom: -1px;
		margin-right: 12px;
		@media (max-width: 500px){
			width: 20px;
			height: 20px;
		}
	}
	& > span {
		@include nowrap;
	}
}
::-webkit-input-placeholder {transition: .25s ease;font-family: inherit;}
:-moz-placeholder {transition: .25s ease;font-family: inherit;}
::-moz-placeholder {transition: .25s ease;font-family: inherit;}
:-ms-input-placeholder {transition: .25s ease;font-family: inherit;}
:focus::-webkit-input-placeholder {opacity: 0; transform: translateY(-11px)}
:focus:-moz-placeholder {opacity: 0; transform: translateY(-11px)}
:focus::-moz-placeholder {opacity: 0; transform: translateY(-11px)}
:focus:-ms-input-placeholder {opacity: 0; transform: translateY(-11px)}

.checkbox-custom {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	[type=checkbox],[type=radio] {
		display: none;
	}
	&__icon {
		border: 1px solid $icons;
		border-radius: 3px;
		background-color: transparent;
		max-width: 32px;
		width: 32px;
		height: 32px;
		color: transparent;
		transition: .2s;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
		& + span {
			margin-left: 15px;
			color: $headline;
		}
		@media (max-width: 500px){
			max-width: 26px;
			width: 26px;
			height: 26px;
		}
		svg {
			display: inline-block;
			stroke: currentColor;
			display: block;
			width: 12px;
			height: 12px;
		}
	}
}
[type=checkbox]:checked + .checkbox-custom__icon, [type=radio]:checked + .checkbox-custom__icon {
	border-color: $accessible;
	background-color: $accessible;
	color: #fff;
}

.inline-form {
	padding-bottom: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	input[type] {
		height: 34px;
		font-size: em(14);
		font-family: Arial, sans-serif;
		flex-grow: 1.1;
		flex-shrink: 1;
		width: calc(100% - 70px);
		border: 1px solid $border;
		border-right: none;
		border-radius: 3px 0 0 3px;
		background-color: transparent;
		-webkit-appearance: none;
		appearance: none;
		color: inherit;
		letter-spacing: .02em;
		outline: 0;
		padding: 0 20px;
		&::placeholder {color: inherit;}
	}
	.btn--xs {
		padding: 2px;
		margin: -1px 0 -1px -5px;
		width: 34px;
		height: 34px;
		flex-shrink: 0;
		color: $border;
		text-align: center;
		background-color: transparent;
		border: 1px solid currentColor;
		border-radius: 3px;
		&:hover {
			opacity: 0.8;
		}
		svg {
			display: block;
			width: 14px;
			height: 14px;
			margin: auto;
			transform: rotate(45deg);
		}
	}
	input[type]:valid + .btn--xs {
		background-color: $accessible;
		border-color: $accessible;
		color: #fff;
	}
}
.search__form {
	padding: 10px 17px;
	width: 100%;
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	@include flex-between;
	input[type] {
		height: 44px;
		font-size: em(15);
		font-family: Arial, sans-serif;
		flex-grow: 1.1;
		flex-shrink: 1;
		width: calc(100% - 70px);
		border: none;
		border-radius: 3px 0 0 3px;
		background-color: transparent;
		-webkit-appearance: none;
		appearance: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: inherit;
		outline: 0;
		padding: 0 20px;
		text-decoration: none;
		&::placeholder {color: inherit;}
		@media (max-width: 380px){
			padding: 0 7px;
		}
	}
	@media (max-width: 1025px){
		margin-bottom: 25px;
	}
	@media (max-width: 801px){
		padding: 8px 14px;
	}
	@media (max-width: 600px){
		padding: 6px 10px;
		margin-bottom: 20px;
		.btn--success {
			padding: 10px 8px 8px;
			min-width: 83px;
		}
	}
	@media (max-width: 380px){
		padding-left: 6px;
		.btn--success {
			font-size: em(15);
			min-width: 74px;
		}
		input[type] {height: 36px;}
	}
	@media (max-width: 360px){
		padding-right: 6px;
		input[type] {
			font-size: .92em;
			height: 32px;
			padding-right: 3px;
		}
		.btn--success {
			min-width: 58px;
			letter-spacing: .01em;
			padding: 7px 2px 6px;
			font-size: .9375em;
			font-weight: 500;
			text-shadow: 0 0;
		}
	}
}
.i-search {
	color: $headline;
	display: block;
	width: 29px;
	height: 29px;
	pointer-events: none;
	margin-right: -10px;
	margin-top: 4px;
	@media (max-width: 500px){
		width: 25px;
		height: 25px;
	}
	@media (max-width: 380px){
		margin-right: -2px;
	}
	@media (max-width: 360px){
		width: 18px;
		height: 18px;
		margin-top: 0;
	}
}
.selector {
	color: $text;
	display: inline-block;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	outline-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,.02);
	& + & {
		margin-left: 10px;
		@media (max-width: 380px){
			margin-left: 0;
		}
	}
	@media (max-width: 380px){
		vertical-align: middle;
		max-width: 49%;
	}
	& [type=checkbox],& [type=radio] {
		display: none;
	}
	.selector__btn {
		display: inline-block;
		min-width: 140px;
		text-align: center;
		padding: 11px 15px 12px;
		border: 1px solid transparent;
		border-radius: 3px;
		letter-spacing: .03em;
		line-height: 1.2;
		user-select: none;
		@media (max-width: 380px){
			min-width: auto;
			padding: 9px 9px 8px;
			text-align: left;
		}
	}
	& [type=checkbox]:checked + .selector__btn,& [type=radio]:checked + .selector__btn,&.checked .selector__btn {
		border: 1px solid $border;
		color: $active;
		transition: .3s;
	}
}
.form-aligner {
	user-select: none;
}
.form-field {
	display: block;
	position: relative;
	margin-bottom: 15px;
	input[type] {
		display: block;
		width: 100%;
		height: 54px;
		padding: 26px 22px 12px;
		line-height: 1;
		color: $headline;
		border: 1px solid $border;
		border-radius: 3px;
		font-size: 1em;
		@media (max-width: 380px){
			padding: 18px 19px 8px;
			height: 44px;
		}
	}
	.form-placeholder {
		position: absolute;
		left: 19px;
		top: 19px;
		font-size: em(15);
		line-height: 1;
		letter-spacing: .05em;
		color: $icons;
		user-select: none;
		pointer-events: none;
		transition: .3s;
		transform-origin: 21px 94%;
		@media (max-width: 380px){
			left: 17px;
			top: 16px;
		}
	}
	&.filled {
		.form-placeholder{
			transform: scale(.8) translateY(-16px);
			@media (max-width: 380px){
				transform: scale(.82) translateY(-13px);
			}
		}
	}
}
.form-subtitle {
	color: $headline;
	text-shadow: 0 0;
	padding-top: .4em;
	padding-bottom: 1.3em;
}
input[list] {
	-webkit-appearance: none;
	appearance: none;
}
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}