.drawer {display: none;}

.drawer__item {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.drawer__overlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 99;
   opacity: 0;
   transition: opacity .3s;
   background-color: rgba($dialog,.25);
   user-select: none;
}
.drawer__wrapper {
   position: relative;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   max-width: 720px;
   z-index: 999;
   overflow: auto;
   transition: transform 0.3s;
   will-change: transform;
   background-color: #fff;
   box-shadow: -1px 1px 15px rgba(30, 23, 104, 0.08);
   display: flex;
   flex-direction: column;
   will-change: transform;
   transform: translate3d(103%, 0, 0);
   -webkit-overflow-scrolling: touch;
}
.drawer--lg .drawer__wrapper {
   max-width: 1120px;
}
.drawer__close {
   position: absolute;
   top: 32px;
   right: 20px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4L4.00017 19.9998' stroke='%23727274' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.9998 19.9998L4 4' stroke='%23727274' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 24px;
   width: 30px;
   height: 30px;
   flex-shrink: 0;
   margin-left: 1rem;
   opacity: .6;
   z-index: 1;
   &:hover {opacity: 1;}
   @media (max-width: 500px){
      background-size: 22px;
   }
}
.drawer__body {
   padding: 4.6em 5.9em;
   @media (max-width: 500px){
      padding: 1em 15px;
   }
}
.drawer--lg .drawer__body {
   @media (min-width: 1100px){
      padding: calc(5.1vh + 3.3em) calc(2.4vw + 2.9em) 40px;
   }
   @media (max-width: 991px){
      padding: calc(5vh + 1em) 0 30px 30px;
   }
   @media (max-width: 500px){
      padding: 10px 0 20px 14px;
   }
}
.drawer__header {
   padding: 20px 45px 22px 29px;
   border-bottom: 1px solid $border;
   &--noborder {
      border-bottom: none;
   }
   &--form {
      padding: 20px 30px 22px 20px;
      @media (max-width: 500px){
         padding: 10px 25px 17px 3px;
      }
   }
   p {
      letter-spacing: .02em;
      font-stretch: 110%;
   }
}
.drawer--lg .drawer__header{
   border-bottom: none;
}
.drawer__headline {
   font-size: em(26);
	padding-bottom: .65em;
	position: relative;
   color: $headline;
   @media (max-width: 380px){
      font-size: 1.4em;
   }
	&::before{
		position: absolute;
		content: '\2013';
		left: -1.2em;
		top: 0
	}
}
.drawer__content {
   position: relative;
   height: 100%;
   flex-grow: 1;
   flex-shrink: 0;
}
.drawer.is-active {
   display: block;
}
.drawer.is-visible .drawer__wrapper {
   transform: translate3d(0, 0, 0);
}
.drawer.is-visible .drawer__overlay {
   opacity: 1;
}
.drawer__footer {
   position: sticky;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1;
   background-color: #fff;
   padding: 20px 15px 22px;
   border-top: 1px solid $border;
   @include flex-center;
   @media (max-width: 380px){
      padding: 13px 14px 14px;
   }
   .btn:not(:first-child) {
      margin-left: 40px;
      @media (max-width: 500px){
         margin-left: 14px;
      }
   }
}
[data-tab]:not([data-tab=active]) {
   display: none!important;
}
.plan__options[data-tab=active] {
   display: block;
}
.privacy__item {
   padding: 1.9em 15px;
   color: $headline;
   border-bottom: 1px solid $border;
   @media (max-width: 500px){
      padding: 1.5em 2px;
   }
}
.privacy__title{
   font-weight: bold;
   display: block;
   padding-bottom: 1.3em;
   &--danger {
      color: $danger;
   }
   &--success {
      color: $accessible;
   }
}
.privacy__address {
   width: 48%;
   letter-spacing: .02em;
   padding-right: 10px;
   min-width: 144px;
   @media (max-width: 360px){
      width: 100%;
      padding-bottom: 8px;
   }
   & > * {
      display: block;
      padding-bottom: .3em;
   }
}
.privacy__box {
   @include flex-between;
   @media (max-width: 360px){
      flex-wrap: wrap;
   }
}
.privacy__card {
   background-color: $bg2;
   border-radius: 3px;
   padding: 1.54em 2.4em;
   max-width: 240px;
   user-select: none;
   cursor: pointer;
   transition: .3s;
   @media (max-width: 500px){
      padding: 1.3em;
   }
   &:hover {
      box-shadow: inset 0 0 5px 2px rgba(30, 23, 80, 0.06);
   }
   p {
      font-size: em(14);
      letter-spacing: .02em;
      line-height: 1.2;
   }
}
[data-trigger-tab] > *{
   pointer-events: none;
   user-select: none;
}
.privacy__status {
   display: inline-flex;
   align-items: center;
   font-size: em(20);
   font-weight: bold;
   padding-bottom: .4em;
   @media (max-width: 500px){
      font-size: 1.1em;
   }
   .i-shield {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 .5em 2px -4px;
   }
   &--warn {
      color: $danger;
   }
   &--success {
      color: $accessible;
   }
}
.account {
   padding-top: 2.2em;
   @include flex-between;
   &__user {
      margin-right: auto;
   }
   &__name {
      color: $headline;
      font-size: em(20);
      padding-bottom: .1em;
      font-weight: bold;
   }
   &__mail{
      letter-spacing: .03em;
   }
   .i-user {
      width: 24px;
      height: 24px;
      color: $headline;
      margin-right: 15px;
      margin-left: -6px;
   }
   &__new {
      padding: 25px 0;
      .help {
         margin-top: 50px;
         float: right;
      }
      &:after {
         content: '';
         display: block;
         clear: both;
      }
   }
}
.drawer__header--form {
   .form-aligner {
      padding-top: 2.5em;
      @media (max-width: 380px){
         padding-top: 1.1em;
      }
   }
}