.drawer { display: none;}

.drawer__item {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
.drawer__alert .drawer__item,
.drawer__add .drawer__item {
   min-height: auto;
}
.drawer__overlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 99;
   opacity: 0;
   transition: opacity .3s;
   background-color: rgba($dialog,.25);
   user-select: none;
}
.drawer__wrapper {
   position: relative;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   max-width: 720px;
   z-index: 999;
   overflow: auto;
   transition: transform .4s cubic-bezier(.77, 0, .175, 1);
   will-change: transform;
   background-color: #fff;
   box-shadow: -1px 1px 15px rgba(30, 23, 104, 0.08);
   display: flex;
   flex-direction: column;
   content-visibility: auto;
   contain: paint;
   will-change: transform;
   transform: translate3d(103%, 0, 0);
   -webkit-overflow-scrolling: touch;
   @media (max-width: 801px){
      max-width: 100%;
   }
}
.drawer__alert {
   padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
   position: fixed;
   z-index: 999;
   .drawer__fieldset{
      width: 100%;
      max-width: 600px;
      transition: all .4s cubic-bezier(.77,0,.175,1);
      opacity: 0;
      transform: scale3d(.8,.8, 1);
      will-change: transform;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: -1px 1px 15px rgba(30, 23,104,.08);
      position: relative;
      pointer-events: auto;
   }
}
.drawer.is-visible .drawer__alert .drawer__fieldset {
   opacity: 1;
   transform: scale3d(1, 1, 1);
}
.drawer--lg .drawer__wrapper {
   max-width: 1120px;
}
.drawer__add {
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	position: fixed;
	z-index: 999;

	@media (max-width: 700px) {
		padding: 0;
	}

	.drawer__fieldset {
		width: 100%;
		max-width: 866px;
		transition: all .3s cubic-bezier(.77, 0, .175, 1);
		opacity: 0;
		transform: scale3d(.88, .88, 1);
		will-change: transform;
		background-color: $bg;
		box-shadow: -1px 1px 15px rgba(30, 23, 104, .08);
		position: relative;
		pointer-events: auto;
	}
}
.drawer.is-visible .drawer__alert .drawer__fieldset,
.drawer.is-visible .drawer__add .drawer__fieldset {
	opacity: 1;
	transform: scale3d(1, 1, 1);
	max-height: 100vh;
	overflow: auto;
}
.drawer--lg .drawer__wrapper {
	max-width: 1200px;
}
.drawer__close {
   position: absolute;
   top: 32px;
   right: 20px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4L4.00017 19.9998' stroke='%23727274' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.9998 19.9998L4 4' stroke='%23727274' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 24px;
   width: 30px;
   height: 30px;
   flex-shrink: 0;
   margin-left: 1rem;
   opacity: .6;
   z-index: 1;
   &:hover {opacity: 1;}
   @media (max-width: 500px){
      background-size: 22px;
   }
   @media (max-width: 380px){
      top: 25px;
      right: 14px;
   }
   @media (max-width: 360px){
      top: 19px;
   }
}
.drawer__body {
   padding: calc(4.3vh + .7em) calc(1.6vw + 3.8em) calc(3vh + .6em);
   @media (max-height: 649px){
      padding: calc(3.5vh + .6em) calc(1.6vw + 3.8em) calc(3vh + .5em);
   }
   @media (max-width: 500px){
      padding: 1em 20px;
   }
}
.drawer--lg .drawer__body {
   @media (min-width: 1100px){
      padding: calc(5.1vh + 3.3em) calc(2.4vw + 2.9em) 40px;
   }
}
.drawer--lg:not(.drawer--notable) .drawer__body {
   @media (max-width: 991px) {
   	padding: calc(1vh + 1em) 0 30px 30px;
   }
   @media (max-width: 500px) {
   	padding: 14px 0 20px 14px;
   }
}
.drawer--notable .drawer__body {
   @media (max-width: 991px) {
   	padding: calc(1vh + 1em) 30px 30px;
   }

   @media (max-width: 500px) {
   	padding: 14px 14px 20px;
   }
}
.drawer--alert .drawer__body {
   @media (max-width: 500px){
      padding: 1.6em 23px;
   }
}
.drawer--add .drawer__body {
   padding: calc(4vh + .7em) 90px calc(1vh + .6em);
   @media (max-width: 500px){
      padding: 1.6em 23px;
   }
   @media (max-width: 359px){
      padding: .8em 14px;
   }
}
.drawer__header {
   padding: 20px 46px 20px 29px;
   border-bottom: 1px solid $border;
   @media (max-width: 500px){
      padding: 18px 43px 20px 20px;
   }
   @media (max-width: 380px){
      padding: 16px 37px 13px 20px;
   }
   @media (max-width: 360px){
      padding: 9px 36px 11px 16px;
   }
   &--alert {
      padding: 0;
      border-bottom: none;
      .h1 {
      	padding-bottom: .7em;
      }
   }
   &--noborder {
      border-bottom: none;
      padding-bottom: 32px;
      @media (max-height: 700px){
         padding-bottom: 14px;
      }
      @media (max-width: 801px){
         padding-bottom: 18px;
      }
      @media (max-width: 380px){
         padding-bottom: 10px;
      }
   }
   &--form {
      padding: 20px 30px 22px 20px;
      @media (max-width: 500px){
         padding: 10px 25px 17px 3px;
      }
   }
   p {
      letter-spacing: .02em;
      font-stretch: 110%;
   }
}
.drawer--add .drawer__header {
	padding: 20px 0 1.8em;

	@media (max-width: 700px) {
		padding: 2px 0 1.2em;
	}

	h3 {
		font-size: em(30);
		color: $headline;
		font-weight: bold;
		padding-bottom: .9em;

		@media (max-width: 700px) {
			padding-bottom: .4em;
		}

		@media (max-width: 360px) {
			font-size: em(24);

			&~p {
				font-size: em(16);
			}
		}
	}
}
.drawer--lg {
   color: $headline;
   .drawer__header{
      border-bottom: none;
      p {margin-top: .3em;}
      p + p {margin-top: 1.1em;}
   }
}
.drawer__headline {
   font-size: em(26);
	padding-bottom: .65em;
	position: relative;
   color: $headline;
   &--nogutter {
      padding-bottom: .18em;
   }
   @media (max-width: 500px) {
   	font-size: 1.4em;
   }
   @media (max-width: 380px) {
   	font-size: 1.3em;
   }
	&::before{
		position: absolute;
		content: '\2013';
		left: -1.2em;
		top: 0;
      @media (max-width: 500px){
         left: -0.9em;
      }
	}
}
.drawer__content {
   position: relative;
   height: 100%;
   flex-grow: 1;
   flex-shrink: 0;
   color: $headline;
   .search__form {
      background-color: $bg2;
      border-radius: 3px;
      margin-bottom: 2px;
      padding: 5px 5px 5px 17px;
      @media (max-width: 500px){
         padding: 2px 3px 2px 11px;
      }
      @media (max-width: 360px){
         padding: 4px 4px 4px 8px;
      }
   }
}
.drawer.is-active {
   display: block;
}
.drawer.is-visible .drawer__wrapper {
   transform: translate3d(0, 0, 0);
}
.drawer.is-visible .drawer__overlay {
   opacity: 1;
}
.drawer__footer {
   position: sticky;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1;
   background-color: #fff;
   padding: 20px 15px 22px;
   border-top: 1px solid $border;
   @include flex-center;
   @media (max-height: 649px){
      padding: 16px 15px 17px;
   }
   @media (max-width: 380px){
      padding: 14px 12px 15px;
   }
   @media (max-width: 359px){
      padding: 12px 10px 13px;
   }
   .btn:not(:first-child) {
      margin-left: 36px;
      @media (max-width: 500px){
         margin-left: 18px;
      }
   }
   .btn--danger {
      flex-grow: .1;
   }
   .btn--success {
      flex-grow: .15;
      @media (max-width: 380px){
         flex-grow: .6;
      }
      @media (max-width: 359px){
         flex-grow: .68;
      }
   }
}
.drawer__cta {
   display: flex;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 25px;
   .btn--lg {
      flex-grow: .19;
   }
   .btn--lg + .btn--lg {
      margin-left: 1.4em;
      flex-grow: .76;
   }
   @media (max-width: 380px){
      padding-top: 21px;
      padding-bottom: 17px;
   }
   @media (max-width: 360px){
      .btn--icon {
      	min-width: 108px;
      }
      .btn--lg + .btn--lg {
         margin-left: .8em;
      }
   }
   & ~ p {
      line-height: 1.44;
   }
}
.drawer__header--alert .drawer__cta {
   padding-top: 25px;
   padding-bottom: 0;
	.btn--lg {
		flex-grow: .49;
	}
	.btn--lg+.btn--lg {
		margin-left: 1.4em;
		flex-grow: .6;
	}
}
[data-tab]:not([data-tab=active]) {
   display: none!important;
}
.plan__options[data-tab=active] {
   display: block;
}
.privacy__item {
   padding: 1.9em 15px;
   color: $headline;
   border-bottom: 1px solid $border;
   @media (max-width: 500px){
      padding: 1.5em 2px;
   }
}
.privacy__title{
   font-weight: bold;
   display: block;
   padding-bottom: 1.3em;
   &--danger {
      color: $danger;
   }
   &--success {
      color: $accessible;
   }
}
.privacy__address {
   width: 48%;
   letter-spacing: .02em;
   padding-right: 10px;
   min-width: 144px;
   span {
      font-size: em(15);
   }
   @media (max-width: 360px){
      width: 100%;
      padding-bottom: 8px;
   }
   & > * {
      display: block;
      padding-bottom: .3em;
   }
}
.privacy__box {
   @include flex-between;
   @media (max-width: 360px){
      flex-wrap: wrap;
   }
}
.privacy__card {
   background-color: $bg2;
   border-radius: 3px;
   padding: 1.54em 2.4em;
   max-width: 240px;
   user-select: none;
   cursor: pointer;
   transition: .3s;
   @media (max-width: 500px){
      padding: 1.3em;
   }
   @media (max-width: 380px){
      padding: 1.1em;
   }
   &:hover {
      box-shadow: inset 0 0 5px 2px rgba(30, 23, 80, 0.06);
   }
   p {
      font-size: em(14);
      letter-spacing: .02em;
      line-height: 1.2;
   }
}
[data-trigger-tab] > *{
   pointer-events: none;
   user-select: none;
}
.privacy__status {
   display: inline-flex;
   align-items: center;
   font-size: em(20);
   font-weight: bold;
   padding-bottom: .4em;
   @media (max-width: 500px){
      font-size: 1.1em;
   }
   .i-shield {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 .5em 2px -4px;
   }
   &--warn {
      color: $danger;
   }
   &--success {
      color: $accessible;
   }
}
.account {
   padding-top: 2.2em;
   @include flex-between;
   &__user {
      margin-right: auto;
   }
   &__name {
      color: $headline;
      font-size: em(20);
      padding-bottom: .1em;
      font-weight: bold;
   }
   &__mail{
      letter-spacing: .03em;
   }
   .i-user {
      width: 24px;
      height: 24px;
      color: $headline;
      margin-right: 15px;
      margin-left: -6px;
   }
   &__new {
      padding: 25px 0;
      .help {
         margin-top: 50px;
         float: right;
      }
      &:after {
         content: '';
         display: block;
         clear: both;
      }
   }
}
.drawer__header--form {
   .form-aligner {
      padding-top: 2.5em;
      @media (max-width: 380px){
         padding-top: 1.1em;
      }
   }
}
.choiced i{
   filter: grayscale(.82) opacity(.4);
}
.feedback {
   &__form {
      text-align: center;
      padding-top: 2em;
      padding-bottom: 1.1em;
      @media (max-width: 700px) {
         padding-top: 1.4em;
         padding-bottom: .5em;
      }
   }
   &__question {
      font-weight: 900;
      color: $headline;
      padding-bottom: 1em;
      @media (max-width: 359px){
         font-size: em(16);
      }
   }
   &__message {
      border: 1px solid $border;
      background-color: #fff;
      padding: 10px 20px;
      font:  inherit;
      resize: none;
      width: 100%;
      height: 130px;
      outline: none;
      margin-top: 30px;
      @media (max-width: 700px) {
         margin-top: 5px;
      }
      @media (max-width: 380px){
         padding: 8px 14px;
      }
   }
   &__choice {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      @media (max-width: 700px) {
         margin: 8px 0 11px;
      }
      &:hover i {
         transition: .3s;
         filter: grayscale(.82) opacity(.4);
      }
   }
   &__switch {
      margin: 0 12px;
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      -webkit-tap-highlight-color: rgba(0,0,0,.02);
      @media (max-width: 700px){
         margin: 0 calc(.8vw + 6px);
      }
      [type=radio] {
         position: absolute;
         transform: scale(0);
      }
   }
   &__smile {
      display: inline-block;
      width: 61px;
      height: 61px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: .3s;
      @media (max-width: 700px){
         width: 50px;
         height: 50px;
      }
      @media (max-width: 380px){
         width: 40px;
         height: 40px;
      }
      @media (max-width: 359px){
         width: 36px;
         height: 36px;
      }
      @for $i from 1 through 5 {
      	&--#{$i} {
      		background-image: url(../img/general/feedback/#{$i}.svg);
      	}
      }
      &:hover:not(div) {
         transition: .3s;
         filter: opacity(1);
      }
   }
   &__switch >[type=radio]:checked+.feedback__smile {
      transition: .3s;
      filter: opacity(1);
      animation: shake .8s;
   }
}
@keyframes shake {
  0% {transform: rotateZ(0)}
  10% {transform: rotateZ(-30deg)}
  20% {transform: rotateZ(15deg)}
  30% {transform: rotateZ(-10deg)}
  40% {transform: rotateZ(7.5deg)}
  50% {transform: rotateZ(-6deg)}
  60% {transform: rotateZ(5deg)}
  70% {transform: rotateZ(-4.28571deg)}
  80% {transform: rotateZ(3.75deg)}
  90% {transform: rotateZ(-3.33333deg)}
  100% {transform: rotateZ(0)}
}