.plan__sidelong {
   width: 100%;
   max-width: 1120px;
   margin-left: auto;
   margin-right: auto;
   @media (min-width: 890px){
      display: grid;
      grid-gap: 15px;
      // grid-template-columns: repeat(3, 1fr);
      align-items: start;
      grid-template-columns: 1fr minmax(min-content, min-content);
      grid-template-areas: "content content sidebar";
   }
   @media (min-width: 991px){
      grid-gap: 20px;
   }
}
.plan__sidebar {
   padding: 26px 26px 28px;
   margin-bottom: 20px;
   min-width: 360px;
   grid-area: sidebar;
   @media (max-width: 991px){
      min-width: 300px;
   }
   @media (min-width: 500px) and (max-width: 800px){
      min-width: 270px;
      font-size: .92em;
   }
   @media (max-width: 500px){
      padding: 20px 22px 20px;
      min-width: 270px;
   }
   @media (max-width: 380px){
      padding: 16px 17px 17px;
   }
   .h1 {
      text-align: center;
      padding-bottom: .9em;
      @media (max-width: 800px){
         padding-bottom: 0.6em;
      }
   }
   .divid-up {
      padding-top: 21px;
      padding-bottom: 7px;
      @media (max-width: 380px){
         padding: 17px 3px 2px;
      }
   }
   .btn--lg {
      width: 100%;
   }
}
.plan__columns {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   width: 100%;
   padding-bottom: 11px;
   text-shadow: 0 0;
   color: $headline;
   &--optional {
      position: relative;
      padding-right: 15px;
      flex-wrap: wrap;
      .full-size {
         color: $text;
         padding: 0.5em 0;
      }
   }
   &--price {
      font-size: em(20);
      font-weight: bold;
      padding-top: 0.2em;
      padding-bottom: 1.1em;
      b {font-size: 1.3em;}
      @media (max-width: 800px){
         font-size: 1.1em;
      }
   }
}
.i-cancel {
   position: absolute;
   top: -6px;
   right: -16px;
   color: $icons;
   width: 30px;
   height: 30px;
   padding: 6px;
   cursor: pointer;
   pointer-events: auto;
   z-index: 2;
}
.plan__main {
   grid-area: content;
   & > div {
      margin-bottom: 40px;
      @media (max-width: 1025px){
         margin-bottom: 25px;
      }
      @media (max-width: 500px){
         margin-bottom: 20px;
      }
   }
}
.plan__options {
   padding: 3px 24px 0;
   @media (max-width: 500px){
      padding: 3px 14px;
   }
}
.plan__options + .text-center {
   margin: -10px 0 28px;
   @media (max-width: 500px){
      margin: -10px 0 12px;
   }
}
.plan__options ~ .text-center:last-of-type{
   margin-top: -10px;
   margin-bottom: 10px;
}
.plan__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 32px 0;
   .h3 {
      white-space: nowrap;
      margin-right: 0.8em;
   }
   @media (max-width: 500px){
      flex-wrap: wrap;
      padding: 20px 0 14px;
      .h3 {
         margin-bottom: 0.4em;
      }
   }
}
.plan__details {
   font-size: em(14);
   span {
      display: inline-block;
      margin: 0 11px;
      @media (max-width: 500px){
         font-size: em(15);
         margin: 0 4px;
      }
   }
   span:first-child {
      margin-left: 0;
   }
   span:last-child {
      margin-right: 0;
   }
}
.plan__option {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 26px 2px;
   width: 100%;
   &--unavailable{
      padding-top: 18px;
      padding-bottom: 18px;
   }
   &:not(:first-child) {
      border-top: 1px solid $border;
   }
   @media (max-width: 500px){
      padding: 13px 0;
      flex-wrap: wrap;
   }
}
.plan__term {
   margin-right: 1em;
   flex-grow: .4;
   max-width: 273px;
   @media (max-width: 500px){
      width: 100%;
      text-align: center;
      padding-bottom: .1em;
      text-decoration: underline;
      font-weight: bold;
      max-width: none;
   }
}
.plan__cost {
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   font-weight: bold;
   min-width: 9%;
   & > div:not(:first-child) {
      margin-left: calc(.8vw + 15px);
      @media (max-width: 380px){
         margin-left: calc(.3vw + 11px);
      }
   }
   @media (max-width: 500px){
      justify-content: space-between;
      min-width: 56%;
      & + .checkbox-custom {margin-left: 5px;}
   }
}
.cost {
   &__percent {
      font-size: em(14);
      color: $danger;
   }
   &__old {
      text-decoration: line-through;
      color: $icons;
      font-size: em(15.4);
      &:before, &:after {
         content: '\00a0';
      }
      @media (max-width: 500px){
         font-size: em(15);
         font-weight: normal;
      }
   }
}
.plan__name {
   color: $headline;
   font-weight: bold;
   font-size: em(19);
   margin-right: 1em;
   width: 26%;
   max-width: 240px;
   & + .status {
      padding-top: .4em;
   }
   @media (max-width: 500px){
      margin-right: auto;
   }
   @media (max-width: 420px){
      min-width: 100%;
      padding-bottom: .3em;
   }
   @media (max-width: 360px){
      font-size: 1em;
   }
}
.plan__name ~ .plan__cost {
   justify-content: flex-end;
   min-width: 169px;
   @media (max-width: 500px){
      min-width: 146px;
   }
}
.plan__choise {
   select {
      width: 80px;
      height: 34px;
      margin: -4px 0;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: $headline;
      font-size: em(15);
      text-shadow: 0 0;
      padding-right: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='2 2 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%23616F94' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 100% 56%;
      font-size: 1em;
      & > option {
         color: $headline;
         background-color: $bg;
         border: none;
      }
      @media (max-width: 500px){
         margin: 0;
         width: 66px;
         height: 30px;
         font-size: em(15);
         background-size: 17px;
      }
   }
}
.plan__month {
   font-size: em(14);
   margin-right: 4px;
   margin-left: 2px;
   flex-shrink: 1;
   flex-grow: 0;
   max-width: 92px;
   @media (max-width: 500px){
      max-width: 46px;
      text-align: center;
   }
}
.plan__addons {
   padding: 27px 24px 6px;
   .message__title,.h1,.h2,.h3,.h4 {
      color: $headline;
      padding-bottom: .4em;
      @media (max-width: 380px){
         padding-bottom: .1em;
      }
   }
   @media (max-width: 500px){
      padding: 19px 13px 6px;
   }
}
.addons__title {
   padding: 0 30px 20px;
   @media (max-width: 500px){
      padding: 0 29px 15px;
   }
   @media (max-width: 360px){
      padding: 0 23px 13px;
   }
}
.addons__cta {
   padding: 19px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   @media (max-width: 500px){
      padding: 13px 0 13px 10px;
   }
   @media (max-width: 360px){
      padding: 11px 0 11px 3px;
   }
}
.addons__descr {
   margin-right: 10px;
   flex-grow: .5;
   .h2,.h3,.h4 {
      padding-bottom: 0.2em;
   }
   p {font-size: em(14);}
}
.addons__price {
   min-width: 99px;
   margin-left: auto;
   @media (max-width: 500px){
      margin-top: 6px;
   }
   b {
      color: $headline;
      margin: 0 15px;
   }
}