.d-none {display: none;}

.pl-0 {padding-left: 0!important;}
.pr-0 {padding-right: 0!important;}

.pb-05 {padding-bottom: .6em;}

.box {
	background-color: #fff;
	box-shadow: -1px 1px 10px rgba(30,23,104,.04);
	border-radius: 3px;
}
.divid-up {
	border-top: 1px solid $border;
}
.color-alert {
   color: $danger!important;
}
.fz-14 {
	font-size: em(14);
}
.align-right {
	text-align: center!important;
	justify-content: flex-end!important;
	min-width: auto!important;
	width: min-content;
	margin-left: auto;
}
.align-left {
   text-align: left!important;
	padding-left: 0!important;
   justify-content: flex-start!important;
}
.full-size {
	flex-grow: 1;
	min-width: 100%;
}
[hidden] {
	display: none!important;
}
.hidden-xs {
	@media (max-width: 370px){
		display: none;
	}
}
.text-center {
	text-align: center;
	margin: auto;
	max-width: 1120px;
	& :only-child {
		margin-left: auto;
		margin-right: auto;
	}
}
.v-center {
	display: flex;
	align-items: center;
}