.d-none {display: none;}

.pl-0 {padding-left: 0!important;}
.pr-0 {padding-right: 0!important;}
.pb-0 {padding-bottom: 0!important;}

.pb-05 {
	padding-bottom: .6em;
	display: block;
	padding-left: 1px;
	@media (max-width: 500px){
		line-height: 1.2;
	}
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-1 {
	margin-bottom: 1em;
}
.mt-1 {
	margin-top: 1em;
}
.pb-1 {
	padding-bottom: 1em;
	display: block;
	padding-left: 1px;
}
.pb-15 {
	padding-bottom: 1.5em;
}
.pt-15 {
	padding-top: 1.5em;
}
.pt-1 {
	padding-top: 1em;
}
.pt-05 {
	padding-top: .52em;
}
.pt-15 {
	padding-top: 1.5em;
	@media (max-width: 500px){
		padding-top: 1em;
	}
}
.box {
	background-color: #fff;
	box-shadow: -1px 1px 10px rgba(30,23,104,.04);
	border-radius: 3px;
	&--pad {
		padding: 30px;
		@media (max-width: 500px){
			padding: 17px;
		}
	}
	&--option {
		padding: 30px 24px 3px;
		@media (max-width: 500px){
			padding: 17px 17px 0;
		}
		@media (max-width: 359px){
			padding: 17px 15px 0;
		}
	}
}
.icon {
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	margin-right: calc(2px + .2em);
	margin-bottom: -1px;
	color: inherit;
	vertical-align: bottom;
}
.divid-up {
	border-top: 1px solid $border;
}
.color-alert {
   color: $danger!important;
}
.fz-14 {
	font-size: em(14);
}
.align-right {
	text-align: center!important;
	justify-content: flex-end!important;
	min-width: auto!important;
	width: min-content;
	margin-left: auto;
}
.align-left {
   text-align: left!important;
	padding-left: 0!important;
   justify-content: flex-start!important;
}
.full-size {
	flex-grow: 1;
	min-width: 100%;
}
[hidden] {
	display: none!important;
}
.hidden-xs {
	@media (max-width: 370px){
		display: none;
	}
}
.text-center {
	text-align: center;
	margin: auto;
	max-width: 1120px;
	& :only-child {
		margin-left: auto;
		margin-right: auto;
	}
	.link {
		color: $active !important;
		&:hover {
			color: $text-active !important;
		}
	}
}
.v-center {
	display: flex;
	align-items: center;
}
.is-action {
	display: inline-block;
	color: $active;
	cursor: pointer;
	user-select: none;
	padding: 2px;
}