$default-font: Arial,"Segoe UI", sans-serif;
$headline:#2A3B67;
$text: #616F94;
$text-active:#66B2FF;

$dialog:#2A3B67;
$accessible:#5FB456;
$active:#448ED9;
$warning:#FFC526;
$danger:#FF5D47;
$icons:#C2C2C3;
$bg: #f7f7f7;
$bg2:#f4f4f4;
$bg-alert: #FF696B;
$bg-muted: #98A0AF;
$border: #d7d7d7;

//px -> em
@use "sass:math";
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
	@return math.div($pixels,$context) * 1em;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}