@import "abstracts/vars";
@import "base/reset";
@import "base/helpers";

body {
	position: relative;
	color: $text;
	font: 16px Arial,sans-serif;
	line-height: 1.3;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg;
	min-height: 100vh;
	@media (max-width: 500px){
		font-size: 14px;
	}
}
.open-modal {
	overflow: hidden;
	min-height: 100.1vh;
	@media screen and (min-width: 1025px) and (orientation: landscape){
		padding-right: 17px;
	}
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 80.5vh;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1120px;
}
.container-lg {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1150px;
}
.container-xl {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1440px;
}
.h1 {
	color: $headline;
	font-weight: bold;
	font-size: em(26);
	margin-right: auto;
	padding-right: 1em;
	@media (max-width: 1024px){
		font-size: 1.51em;
	}
	@media (max-width: 500px){
		font-size: 1.3em;
	}
	@media (max-width: 360px){
		font-size: 1.2em;
	}
}
.h2 {
	color: $headline;
	font-weight: bold;
	font-size: em(26);
}
.h3 {
	font-size: em(20);
	font-weight: bold;
	color: $headline;
	@media (max-width: 380px){
		font-size: 1.2em;
	}
	@media (max-width: 360px){
		font-size: 1.16em;
	}
}
.h4 {
	font-size: 1em;
	color: $headline;
	font-weight: bold;
}
.h5 {
	font-size: 1em;
	color: $headline;
	font-weight: normal;
	text-shadow: 0 0;
}

@import "components/buttons";
//layout
@import "layout/header";
@import "layout/footer";
//modules
@import "modules/boards";
@import "components/expander";
@import "components/cards";
@import "modules/sidebar";
@import "components/forms";
@import "modules/modals";
@import "modules/faq";
@import "components/tables";
@import "modules/payment";
@import "modules/settings";
@import "modules/extra";
@import "modules/addons";
@import "modules/banners";

@import "modules/login";